@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-mocha: #1e1e2e;
  --color-mocha-dark: #151535;
  --color-sky-blue: #6cb4ff;
  --color-light-blue: #94d0ff;
  --color-isabelline: #f4f3ee;
  --color-surface: #585b70;
  --color-surface-dark: #313244;
  --color-sea-blue: #2b7fff;
}
