---
import BaseLayout from "@/layouts/Base.astro";

type Props = {
  error: unknown;
};
const { error } = Astro.props;

const title = "Server Error";
const description =
  error instanceof Error
    ? `Oops! ${error.message}`
    : "Oops! Something went wrong on our end.";
---

<BaseLayout
  title={title}
  description={description}
  mainClass="flex flex-col items-center justify-center h-screen text-center text-white"
>
  <h1 class="text-6xl font-bold mb-4">500</h1>
  <p class="text-xl mb-8">{description}</p>
  <a
    href="/"
    class="bg-sky-500 hover:bg-sky-700 text-white font-semibold py-2 px-4 rounded"
  >
    Go Back Home
  </a>
</BaseLayout>
