---
import BlogPostLayout from "../layouts/BlogPost.astro";
---

<BlogPostLayout
	title="About Me"
	description="Some things about myself"
	pubDate={new Date()}
	heroImage="/posts/blog-placeholder-about.jpg"
>
	<h2 class="subtitle">Introduction</h2>
	<p>
		Hello, world! I'm Souvlaki42, a passionate web developer, a dedicated student, and a die-hard gamer.
		My journey into the vast and dynamic world of web development has been nothing short of exhilarating.
		Today, I want to share a glimpse of who I am, what I do, and the technologies that fuel my creative
		pursuits.
	</p>

	<h2 class="subtitle">A Bit About Myself</h2>
	<p>
		Ever since I laid my hands on my first computer, I was captivated by the endless possibilities it offered.
		As a student, I embarked on a thrilling voyage to learn the intricacies of web development.
		With each line of code, I found a canvas to paint my imagination. Fast forward to today, and I find myself
		at the intersection of creativity, logic, and technology.
	</p>

	<h2 class="subtitle">My Toolbox: The Technologies I Love</h2>
	<p class="flex flex-col gap-2">
		<span>
			<span class="italic">• Node.js:</span> The foundation of my backend world. It's hard to imagine my life without Node.js, which allows me
			to create scalable and efficient server-side applications.
		</span>

		<span>
			<span class="italic">• Typescript:</span> As a strong advocate for type safety, Typescript has become an integral part of my workflow.
			It not only helps me catch errors early but also makes my code more readable and maintainable.
		</span>
		
		<span>
			<span class="italic">• React:</span> The heartbeat of modern web development. React empowers me to build interactive, component-based
			user interfaces with ease.
		</span>
		
		<span>
			<span class="italic">• Astro & Next.js:</span> These frameworks have revolutionized my frontend game. With Astro's lightning-fast loading
			and Next.js's server-side rendering, I deliver performant web apps without breaking a sweat.
		</span>
		
		<span>
			<span class="italic">• HTML & CSS:</span> The backbone of the web. I ensure that every pixel and element on the page is pixel-perfect
			using these fundamental technologies.
		</span>
		
		<span>
			<span class="italic">• Tailwind CSS:</span> Rapid UI development made elegant. Tailwind's utility-first approach accelerates my styling
			process without compromising on flexibility.
		</span>
		
		<span>
			<span class="italic">• JavaScript:</span> The language that brought interactivity to the web. I'm constantly exploring new ES6+ features
			to keep my code modern and efficient.
		</span>
		
		<span>
			<span class="italic">• Bootstrap:</span> When I need to kickstart a project with sleek and responsive design, Bootstrap is my go-to
			framework.
		</span>
		
		<span>
			<span class="italic">• Shadcn UI:</span> This UI library adds a touch of sophistication to my projects with its beautiful and
			customizable components.
		</span>
	</p>

	<h2 class="subtitle">Balancing Act: Student Life</h2>
	<p>
		In addition to my coding endeavors, I'm also a committed student. My academic pursuits have allowed me to
		dive deeper into the theories and principles that underpin computer science. The knowledge gained in the
		classroom enriches my development skills, making me a more well-rounded developer.
	</p>

	<h2 class="subtitle">Gaming: My Escape</h2>
	<p>
		After a long day of coding and studying, I turn to my gaming computer as a source of relaxation and
		entertainment. Whether it's exploring fantastical realms, competing in intense battles, or solving
		intricate puzzles, gaming allows me to unwind and recharge my creative energies.
	</p>

	<h2 class="subtitle">Conclusion</h2>
	<p>
		My journey as a web developer, student, and gamer is an ongoing adventure filled with excitement and
		discovery. The ever-evolving landscape of web technologies keeps me on my toes, and I wouldn't have it any
		other way. If you're as passionate about web development and technology as I am, let's connect and share
		our experiences. Together, we can continue to push the boundaries of what's possible in this digital age.
		Thanks for joining me on this journey!
	</p>
</BlogPostLayout>
