---
import ActivityCalendar from "~/components/ActivityCalendar";
import Code from "~/components/Code.astro";
import Base from "~/layouts/Base.astro";

const TECHNOLOGIES = {
  Node: "https://nodejs.org/en",
  React: "https://react.dev",
  "Next.js": "https://nextjs.org",
  Typescript: "https://www.typescriptlang.org",
  "Relational databases": undefined,
  Python: "https://www.python.org",
  Astro: "https://astro.build",
  Rust: "https://rust-lang.org",
  Go: "https://go.dev",
  C: undefined,
  "C++": undefined,
  Docker: "https://www.docker.com",
  "Zsh shell": undefined,
  "Arch Linux": "https://archlinux.org",
  KDE: "https://kde.org",
};

const technologiesStr =
  "console.log(`" +
  `Technologies I like and use:\n${Object.entries(TECHNOLOGIES)
    .map(([tech, site]) => {
      if (!site) return tech;
      else return `[${tech}](${site})`;
    })
    .join(", ")}` +
  "`);";
---

<!-- Todo: fix layout shift -->
<Base class="space-y-4">
  <Code
    code={`fmt.Println("ðŸ‘‹ Hello, World!");`}
    lang={"go"}
    class={"text-2xl font-extrabold"}
  />
  <Code code={`print("I'm Ilias.")`} lang={"python"} class={"text-xl"} />
  <Code code={`System.out.println("I am from ðŸ‡¬ðŸ‡· Greece.");`} lang={"java"} />
  <Code
    code={`println!("I also enjoy cats, board games, ethical hacking and indie games.");`}
    lang={"rust"}
  />
  <Code
    code={`std::cout << "I'm currently studying Computer Engineering at University of West Attica, ðŸ›ï¸ Athens." << std::endl;`}
    lang={"c++"}
  />
  <Code code={technologiesStr} lang={"typescript"} />
  <Code
    code={`printf("Don't hesitate to reach out, through my socials or [ilias@moulas.dev](mailto:ilias@moulas.dev)\\n");`}
    lang={"c"}
  />
  <div class="overflow-x-auto w-full lg:overflow-hidden lg:w-auto">
    <ActivityCalendar client:only="react" />
  </div>
</Base>
