<section class="giscus mx-auto mt-10 w-full"></section>

<!-- Remove `-no-loader` from `data-theme`, if you want the catppuccin loader icon in the comment section -->
<script
  src="https://giscus.app/client.js"
  data-repo="souvlaki42/my-website"
  data-repo-id="R_kgDOHTVW_w"
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDOHTVW_84ChlM4"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="https://giscus.catppuccin.com/themes/mocha-no-loader.css"
  data-lang="en"
  crossorigin="anonymous"
  is:inline
  async></script>
