<footer
  class="flex flex-col gap-2 sm:gap-0 sm:flex-row sm:justify-between z-10 m-4"
>
  <span class="text-white text-center">
    © Souvlaki42 {new Date().getFullYear()}
  </span>
  <div>
    <a href="https://x.com/souvlaki42" class="m-2 text-right link">Twitter/X</a>
    <a href="https://bsky.app/profile/souvlaki.me" class="m-2 text-right link"
      >TBluesky</a
    >
    <a href="https://github.com/souvlaki42" class="m-2 text-right link"
      >GitHub</a
    >
    <a href="mailto:souvlaki420@gmail.com" class="m-2 text-right link">Email</a>
    <span class="text-white text-lg">•</span>
    <a data-swup-preload href="/rss.xml" class="m-2 text-right link">RSS</a>
  </div>
</footer>
