---
import { Image } from "astro:assets";
import Link from "./Link.astro";
---

<header class="flex flex-row justify-center space-x-4">
  <nav
    class="bg-mocha-dark border-sky-blue hover:border-light-blue flex h-12 w-fit flex-row items-center justify-center rounded-lg border-2"
  >
    <Link href="/" title="Did you get it?">Terminal</Link>
    <Link href="/projects">Projects</Link>
  </nav>
  <nav
    class="bg-mocha-dark border-sky-blue hover:border-light-blue flex h-12 w-fit flex-row items-center justify-center rounded-lg border-2"
  >
    <Link href="/github" class="mx-2 opacity-100 hover:opacity-75"
      ><Image
        width={36}
        height={36}
        loading={"eager"}
        alt="Github white logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Github_logo_svg.svg/64px-Github_logo_svg.svg.png?20230420150203"
      />
    </Link>
    <Link href="/twitter" class="mx-2 opacity-100 hover:opacity-75"
      ><Image
        width={36}
        height={36}
        loading={"eager"}
        alt="Twitter white logo"
        src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg"
      />
    </Link>
    <Link href="/bluesky" class="mx-2 opacity-100 hover:opacity-75"
      ><Image
        width={36}
        height={36}
        loading={"eager"}
        alt="Updated Bluesky logo, published February 2024."
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Bluesky_Logo.svg/64px-Bluesky_Logo.svg.png?20240211144739"
      />
    </Link>
    <Link href="/discord" class="mx-2 opacity-100 hover:opacity-75"
      ><Image
        width={36}
        height={36}
        loading={"eager"}
        alt="Discord logo"
        src="https://di8m9w6rqrh5d.cloudfront.net/1zObrQ89Q4wHhgFCfYIUhMUvmNf4XjxO/preview_d6fabf40-52a0-4b4c-ad08-cdbd7497dd4f.svg"
      />
    </Link>
    <Link href="/linkedin" class="mx-2 opacity-100 hover:opacity-75">
      <Image
        width={36}
        height={36}
        loading={"eager"}
        alt="Linkedin logo"
        src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg"
      />
    </Link>
  </nav>
</header>
