---
import {
  cn,
  type HTMLAtrributesWithSlot,
  isURLExternal,
  normalizeURLPath,
} from "~/lib/utils";

type Props = HTMLAtrributesWithSlot<"a"> & { underline?: boolean };
const { href, class: className, underline = true, ...props } = Astro.props;

const pathName = new URL(Astro.request.url).pathname;
const hrefStr = href?.toString();

const isActive = normalizeURLPath(pathName) === normalizeURLPath(hrefStr);
const isExternal = isURLExternal(hrefStr);
---

<a
  href={href}
  {...props}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class={cn(
    "font-bold mx-2 sm:mx-4",
    underline ? "hover:underline" : undefined,
    isActive ? "text-sea-blue" : "text-sky-blue hover:text-light-blue",
    className,
  )}
>
  <slot />
  {isExternal && <span class="sr-only">Opens in a new tab</span>}</a
>
