---
import { cn, type HTMLAtrributesWithSlot, normalizeURLPath } from "~/lib/utils";

type Props = HTMLAtrributesWithSlot<"a">;
const { href, class: className, ...props } = Astro.props;

const pathName = new URL(Astro.request.url).pathname;
const hrefStr = href?.toString();

const isActive = normalizeURLPath(pathName) === normalizeURLPath(hrefStr);
const isExternal =
  hrefStr?.startsWith("http://") || hrefStr?.startsWith("https://");
---

<a
  href={href}
  {...props}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class={cn(
    "font-bold mx-2 sm:mx-4",
    isActive ? "text-sea-blue" : "text-sky-blue hover:text-light-blue",
    className,
  )}
>
  <slot />
  {isExternal && <span class="sr-only">Opens in a new tab</span>}</a
>
