<div class="relative w-screen">
	<div
		class="absolute bottom-0 left-0 z-[4] h-[100px] w-full animate-[wave_4s_linear_infinite] bg-[url('/wave.png')] bg-[length:1000px_100px] opacity-100"
	>
	</div>
	<div
		class="absolute bottom-2.5 left-0 z-[3] h-[100px] w-full animate-[wave2_4s_linear_infinite] bg-[url('/wave.png')] bg-[length:1000px_100px] opacity-50"
	>
	</div>
	<div
		class="absolute bottom-[15px] left-0 z-[2] h-[100px] w-full animate-[wave_2s_linear_infinite] bg-[url('/wave.png')] bg-[length:1000px_100px] opacity-20"
	>
	</div>
	<div
		class="absolute bottom-5 left-0 z-[3] h-[100px] w-full animate-[wave2_2s_linear_infinite] bg-[url('/wave.png')] bg-[length:1000px_100px] opacity-70"
	>
	</div>
</div>
