---
import { SITE_DESCRIPTION, SITE_NAME } from "astro:env/server";
import { undefined } from "astro:schema";
import { ClientRouter } from "astro:transitions";
import Link from "~/components/Link.astro";
import { cn } from "~/lib/utils";
import "~/styles/global.css";

export type Props = {
  title?: string;
  description?: string;
  className?: string;
};
const {
  title = SITE_NAME,
  description = SITE_DESCRIPTION,
  className,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class="bg-mocha flex h-screen flex-col items-center justify-center">
    <header
      class="bg-mocha-dark border-sky-blue hover:border-light-blue flex h-12 w-fit flex-row rounded-lg border-2"
    >
      <nav class="flex h-full w-full items-center justify-center">
        <!-- TODO: Fix active page color contrast -->
        <Link href="/" title="Did you get it?">Terminal</Link>
        <Link href={"/topics"}>Topics</Link>
        <Link href="/code">Code</Link>
      </nav>
    </header>
    <main
      class={cn("flex h-[75%] w-screen flex-col p-12 text-center", className)}
    >
      <slot />
    </main>
    {
      import.meta.env.DEV ? (
        <div class="fixed bottom-1 left-1 z-50 flex h-6 w-6 items-center justify-center rounded-full bg-gray-800 p-3 font-mono text-xs text-white">
          <div class="block sm:hidden">xs</div>
          <div class="hidden sm:block md:hidden">sm</div>
          <div class="hidden md:block lg:hidden">md</div>
          <div class="hidden lg:block xl:hidden">lg</div>
          <div class="hidden xl:block 2xl:hidden">xl</div>
          <div class="hidden 2xl:block">2xl</div>
        </div>
      ) : undefined
    }
    <footer class="m-4 flex flex-row justify-center">
      <div>
        <Link href="https://x.com/souvlaki42" class="m-2 text-right"
          >Twitter</Link
        >
        <Link href="https://github.com/souvlaki42" class="m-2 text-right"
          >GitHub</Link
        >
        <Link href="mailto:souvlaki420@gmail.com" class="m-2 text-right"
          >Email</Link
        >
        <Link href="/rss.xml" class="m-2 text-right">RSS</Link>
      </div>
    </footer>
  </body>
</html>
