---
import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_NAME } from "astro:env/server";
import { ClientRouter } from "astro:transitions";
import Link from "~/components/Link.astro";
import { cn, type HTMLAtrributesWithSlot } from "~/lib/utils";
import "~/styles/global.css";

export type Props = HTMLAtrributesWithSlot<"main"> & {
  title?: string;
  description?: string;
};
const {
  title = SITE_NAME,
  description = SITE_DESCRIPTION,
  class: className,
  ...props
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <ClientRouter />
  </head>
  <body class="bg-mocha flex h-screen flex-col items-center justify-center">
    <header class="flex flex-row justify-center space-x-4">
      <nav
        class="bg-mocha-dark border-sky-blue hover:border-light-blue flex h-12 w-fit flex-row items-center justify-center rounded-lg border-2"
      >
        <!-- TODO: Fix active page color contrast and responsiveness issues -->
        <Link href="/" title="Did you get it?">Terminal</Link>
        <Link href={"/topics"}>Topics</Link>
        <Link href="/code">Code</Link>
        <button
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-search text-sky-blue hover:text-light-blue mx-4 font-bold hover:cursor-pointer"
            ><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"
            ></path></svg
          ></button
        >
      </nav>
      <nav
        class="bg-mocha-dark border-sky-blue hover:border-light-blue flex h-12 w-fit flex-row items-center justify-center rounded-lg border-2"
      >
        <Link
          href="https://github.com/Souvlaki42"
          class="mx-2 opacity-100 hover:opacity-75"
          ><Image
            width={32}
            height={32}
            loading={"eager"}
            alt="Github white logo"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Github_logo_svg.svg/64px-Github_logo_svg.svg.png?20230420150203"
          />
        </Link>
        <Link
          href="https://bsky.app/profile/souvlaki.me"
          class="mx-2 opacity-100 hover:opacity-75"
          ><Image
            width={32}
            height={32}
            loading={"eager"}
            alt="Updated Bluesky logo, published February 2024."
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Bluesky_Logo.svg/64px-Bluesky_Logo.svg.png?20240211144739"
          />
        </Link>
        <Link href="/rss.xml" class="mx-2 opacity-100 hover:opacity-75"
          ><Image
            width={32}
            height={32}
            loading={"eager"}
            alt="Rss-feed"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Rss-feed.svg/32px-Rss-feed.svg.png?20100128031959"
          />
        </Link>
      </nav>
    </header>
    <main
      {...props}
      class={cn(
        "flex h-[75%] w-screen flex-col p-12 text-center text-isabelline",
        className,
      )}
    >
      <slot />
    </main>
    {
      import.meta.env.DEV ? (
        <div class="fixed bottom-1 left-1 z-50 flex h-6 w-6 items-center justify-center rounded-full bg-gray-800 p-3 font-mono text-xs text-white">
          <div class="block sm:hidden">xs</div>
          <div class="hidden sm:block md:hidden">sm</div>
          <div class="hidden md:block lg:hidden">md</div>
          <div class="hidden lg:block xl:hidden">lg</div>
          <div class="hidden xl:block 2xl:hidden">xl</div>
          <div class="hidden 2xl:block">2xl</div>
        </div>
      ) : undefined
    }
  </body>
</html>
